<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Correo Enviado</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <div class="form-container">
        <h2>Revisa tu correo</h2>
        <p>Si el correo electrónico proporcionado está en nuestro sistema, recibirás un enlace para restablecer tu contraseña.</p>
        <a href="{% url 'index' %}">Volver al inicio</a>
    </div>
</body>
</html>
